html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

div.CanvasHolder {
  position: relative;
  height: 600px;
  width: 750px;

  &>.Pause {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    z-index: 30;
  }

  &>.UI {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 15;
    text-align: center;
    padding: 1em;

    

    &>.Header {
      font-size: 1.5em;
      padding-bottom: 1em;
    }

    .btn {
      background: white;
      border-radius: 4em;
      border: 2px solid #444;
      box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
      margin: auto;
      width: fit-content;
      padding: 0.25em 1em;
      margin-top: 0.25em;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
      }
    }

    .BrakeGauge {
      display: inline-block;
      position: relative;
      background: white;
      width: 300px;
      height: 1em;
      border: 2px solid black ;

      &>.Fill {
        height: 100%;
      }
    }
  }
}